.main_content 
{
    position: relative;
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

.blocks_and_foto 
{
    position: relative;
    float: left;
    padding: 210px 60px 0 0;
}

.lists
{
    width: 330px;
    position: relative;
}

.list_one
{
    position: relative;
    margin-top: 50px;
}

.list_two 
{
    position: relative;
    margin-top: 58px;
}

.all_text
{
    position: relative;
    width: 570px;
    height: auto;
    float: right;
    padding-top: 155px;
    padding-right: 40px;
}

.basic_information
{
    margin-top: 50px;
    position: relative;
    box-sizing: border-box;
    width: 570;
}

.blockquote 
{
    position: relative;
    width: 570px;
    padding-bottom: 25px;
}

.author 
{
    position: relative;
    float: column;
    margin: 0;
    padding-left: 3px;
    font-size: 16px;
    line-height: 42px;
    color: rgb(245, 245, 245);
    font-family: "Open Sans";
    font-weight: bold;
}

.photo
{
    position: relative;
    width: 330px;
    height: 350px;
    border-radius: 5px;
}

.title_lists 
{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 32px;
    color: rgb(21, 169, 140);
    font-family: "Open Sans";
    font-weight: 600;
}

.title_text_one
{
    position: relative;
    margin-top: 50px;
    margin-bottom: 35px;
    font-size: 48px;
    line-height: 42px;
    color: rgb(51, 51, 51);
    font-family: "Open Sans";
    font-weight: bold;
}

.text_min
{
    padding-top: 50px;
    width: 570px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 19px;
    line-height: 32px;
    color: rgb(85, 85, 85);
    font-family: "Georgia";
}

.text_max 
{
    width: 562px;
    height: 263px;
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 19px;
    line-height: 32px;
    color: rgb(85, 85, 85);
    font-family: "Georgia";
}

.div_text
{
    position: relative;
    box-sizing: border-box;
    width: 570px;
}

.quote
{
    position: relative;
    
    width: 550px;
    margin: 0;
 
    font-size: 28px;
    line-height: 42px;
    color: rgb(255,255,255);
    font-family: "Georgia";
    font-style: italic;
    padding-top: 50px;
}

.underline
{
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background-color: #45c3a9;
}

.title_text_two 
{
    position: relative;
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 42px;
    color: rgb(51, 51, 51);
    font-family: "Open Sans";
    font-weight: 400;
}

a
{
    font-size: 19px;
    line-height: 32px;
    color: rgb(21, 169, 139);
    font-family: "Georgia";
    text-decoration: none;
}

a:hover
{
    font-size: 19px;
    line-height: 32px;
    font-family: "Georgia";
    color: rgb(9, 141, 114);
}

.text
{
    padding: 0 0 0 20px;
    font-size: 19px;
    line-height: 36px;
    color: rgb(85, 85, 85);
    font-family: "Georgia";
}

.image
{
    width: 130px;
    height: 88px;
    position: relative;
    margin: 0;
    padding-top: 50px;
}

.link
{
    text-decoration: underline;
}

.clear
{
    clear: both;
}

.top_menu 
{
    width: 1000px;
    margin: 0 auto; 
}

.top 
{
    background-image: url(background.png);
    background-repeat: no-repeat;
}

.films_information 
{
    width: 1200px;
    margin: 50px auto 0 auto;
    padding-top: 30px;
}

.title_favorite_films 
{
    margin: 0;
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 42px;
    color: rgb(51,51,51);
    font-family: "Open Sans";    
}

.film 
{
    float:left;
    width: 280px;
    margin-right: 20px;
}

.film_photo 
{
    width: 280px;
    height: 190px;
    border-radius: 5px;
}

.film_title 
{
    padding: 20px 0 17px 0;
    
    font-size: 22px;
    line-height: 32px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    font-weight: bold;
}

.film_description 
{
    width: 285px;
    font-size: 16px;
    line-height: 28px;
    color: rgb(85,85,85);
    font-family: "Georgia";
}

.div_university 
{
    background-color: #f5f5f5;
    text-align: center;
    
    padding: 23px 0;
}

.university
{
    font-size: 16px;
    line-height: 32px;
    color: rgb(85,85,85);
    font-family: "Georgia"; 
}

.button_films
{
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #15a98b;
    margin-top: 60px;
    margin-left: 480px;
    margin-bottom: 50px;
    cursor: pointer;
    
    font-size: 19px;
    line-height: 32px;
    color: rgb(245, 245, 245);
    font-family: "Georgia";
}

button.button_films:hover
{
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #098d71;
}

.film_last 
{
    float:left;
    margin-right: 0;
}

.top_menu a:hover
{
    color: rgb(245, 245, 245);
    background-color: #15a98c;
}

.one 
{
    float:left;
    background-image: url(about_me_icon.png);
    background-repeat: no-repeat;
    background-position: 20px 17px;
    padding: 10px 22px 8px 45px;
    font-size: 19px;
    line-height: 32px;
    color: rgb(51,51,51);
    font-family: "Georgia";
}

a.one:hover
{
    background-image: url(about_me_icon_white.png);
}

.two 
{
    float:left;
    background-image: url(hobby_icon.png);
    background-repeat: no-repeat;
    background-position: 20px 17px;
    padding: 10px 22px 8px 45px;
    font-size: 19px;
    line-height: 32px;
    color: rgb(51,51,51);
    font-family: "Georgia";
}

a.two:hover
{
    background-image: url(hobby_icon_white.png);
}

.three 
{
    float:left;
    background-image: url(video_icon.png);
    background-repeat: no-repeat;
    background-position: 20px 17px;
    padding: 10px 22px 8px 45px;
    font-size: 19px;
    line-height: 32px;
    color: rgb(51,51,51);
    font-family: "Georgia";
}

a.three:hover
{
    background-image: url(video_icon_white.png);
}


.table_header 
{   
    font-size: 36px;
    line-height: 42px;
    color: rgb(51,51,51);
    font-family: 'Open Sans', sans-serif;
    margin-left: 60px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 25px;
    margin-top: 42px;
}

.table 
{
    width: 700px;
    margin: 0 auto;
}

input.field_name
{
    width: 540px;
    height: 50px;
    border: 2px solid #c9c9c9; 
    border-radius: 5px;
    outline: none; 
}

input.field_name.my_error
{
    border: 2px solid #f12424;
}



input[type="text"]:hover
{
    border-color: #a6a6a6;
}

input[type="text"]:focus 
{
    font-size: 18px;
    line-height: 32px;
    color: rgb(85,85,85);
    font-family: "Open Sans";
    border: 2px solid #15a98c;
}

.snowflake:after 
{ 
    content: " *";
    color: #ee0707
}

option
{
    color: #898989;
    border-radius: 5px;
}

.gender_title 
{
    margin-top: -4px;
}

.sms_blank_title
{
    margin-top: 27px;
}

.films_background 
{
    background-color: #f9f9f9; 
}

.box_movies 
{
    margin-top: 20px;
    margin-bottom: 50px;
    display: none;
    opacity: 0.1;
    overflow: hidden;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
}

.male,
.female
{
    font-size: 18px;
    line-height: 32px;
    color: rgb(51,51,51);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.male
{
    padding-left: 3px;
    padding-top: 1px;
}

.female
{
    margin-left: 32px;
    padding-left: 8px;
}

.field_name,
.field_email,
.field_from
{
    width: 540px;
    height: 50px;
    border-radius: 3px;
    border: 2px solid #c9c9c9;
    box-sizing: border-box;
}

.my_error
{
    border: 2px solid #f12424;
}

.username,
.email_text,
.from,
.space_message
{
    font-size: 18px;
    line-height: 32px;
    color: rgb(85,85,85);
    font-family: "Open Sans";
    font-weight: 400;
    padding-left: 15px;
}

.space_message:hover
{
    border-color: #a6a6a6;
}

.space_message:focus
{
    outline: 0;
    border-color: #15a98c;     
}

.field_email
{
    margin-bottom: 13px;
}

.field_from
{
    width: 540px;
    height: 50px;
    margin-bottom: 31px;
    margin-top: -1px;
    cursor: pointer;
}

.field_from:hover
{
    border-radius: 3px;
    border: 2px solid #a6a6a6;
}

.field_from:focus
{
    border-color: #15a98c;
}
 
.field_name:hover
{
    border-radius: 3px;
    border: 2px solid #a6a6a6;
}

.field_email:hover
{
    border-radius: 3px;
    border: 2px solid #a6a6a6;
}

.field_name:focus
{
    border-color: #15a98c;
}

.field_email:focus
{
    border-color: #15a98c;
}

select 
{
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(arrow_down.png) no-repeat 96.67% center;
}

.name,
.email_title,
.from_title,
.gender,
.message 
{
    font-size: 20px;
    line-height: 50px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    margin-top: 2px;
    margin-bottom: -5px;
    margin-left: -2px;
}

.button_message 
{
    border-radius: 5px;
    background-color: #15a98c;
    width: 220px;
    height: 50px;
    border: 0;
    font-size: 19px;
    font-family: 'Georgia', sans-serif;
    color: rgb(245,245,245);
    line-height: 50px;
    margin-bottom: 49px;
    margin-top: 46px;
}

.button_message:hover
{
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #098d71;
    cursor: pointer;
}

.write_me 
{
    font-size: 19px;
    line-height: 32px;
    font-family: 'Georgia', sans-serif;
    margin-top: 41px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.feedback 
{
    display: none;
}
  
.popup_block 
{
    /*--Модальное окно--*/
    width: 660px;
    height: 903px;
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
    top: 358px;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 2;
    display: none; 
}

.input_list 
{
    margin-left: 61px;
}

textarea
{
    width: 521px;
    height: 130px;
    border-radius: 3px;
    border: 2px solid #c9c9c9;
    resize: none;
    margin-top: -6px;
    padding-top: 16px;
}


.close_block 
{
    display: block;
    position: absolute;
    top: 32px;
    right: 30px;
    left: 605px;
    width: 24px;
    height: 24px;
    background: url(close.jpg) no-repeat;
    cursor: pointer;
}

.shadow 
{ 
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1; /* поверх всех  кроме окна*/
    background: #000;
    opacity: 0.75; /*прозрачность*/
    left: 0;
    top: 0;
    cursor: pointer;
}





















