.main_content 
{
    position: relative;
    width: 1000px;
    height: auto;
    margin: auto;
}

.blocks_and_foto 
{
    position: relative;
    float: left;
    padding: 100px 60px 0 0;
}

.lists
{
    width: 330px;
    position: relative;
}

.list_one
{
    position: relative;
    margin-top: 50px;
}

.list_two 
{
    position: relative;
    margin-top: 58px;
}

.all_text
{
    position: relative;
    width: 570px;
    height: auto;
    float: right;
    padding-top: 150px;
    padding-right: 40px;
}

.basic_information
{
    position: relative;
    box-sizing: border-box;
    width: 570;
    padding-bottom: 135px;
}

.blockquote 
{
    background-image: url(quotes.png);
    background-repeat: no-repeat;
    position: relative;
    width: 570px;
    height: 221px;
    padding-bottom: 80px;
}

.author 
{
    position: relative;
    float: column;
    margin: 0;
    padding-left: 62px;
    font-size: 16px;
    line-height: 42px;
    color: rgb(51, 51, 51);
    font-family: "Open Sans";
    font-weight: bold;
}

.photo
{
    position: relative;
    width: 330px;
    height: 350px;
    border-radius: 5px;
}

.title_lists 
{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 32px;
    color: rgb(21, 169, 140);
    font-family: "Open Sans";
    font-weight: 600;
}

.title_text_one
{
    position: relative;
    margin-top: 50px;
    margin-bottom: 35px;
    font-size: 48px;
    line-height: 42px;
    color: rgb(51, 51, 51);
    font-family: "Open Sans";
    font-weight: bold;
}

.text_min
{
    padding-top: 50px;
    width: 570px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 19px;
    line-height: 32px;
    color: rgb(85, 85, 85);
    font-family: "Georgia";
}

.text_max 
{
    width: 562px;
    height: 263px;
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 19px;
    line-height: 32px;
    color: rgb(85, 85, 85);
    font-family: "Georgia";
}

.div_text
{
    position: relative;
    box-sizing: border-box;
    width: 570px;
}

.quote
{
    position: relative;
    width: 512px;
    margin: 0;
    padding: 0 0 0 57px;
    font-size: 28px;
    line-height: 42px;
    color: rgb(132, 132, 132);
    font-family: "Georgia";
    font-style: italic;
    padding-top: 70px;
}

.underline
{
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background-color: #45c3a9;
}

.title_text_two 
{
    position: relative;
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 42px;
    color: rgb(51, 51, 51);
    font-family: "Open Sans";
    font-weight: 400;
}

a
{
    font-size: 19px;
    line-height: 32px;
    color: rgb(21, 169, 139);
    font-family: "Georgia";
    text-decoration: none;
}

a:hover
{
    font-size: 19px;
    line-height: 32px;
    font-family: "Georgia";
    color: rgb(9, 141, 114);
}

.text
{
    padding: 0 0 0 20px;
    font-size: 19px;
    line-height: 36px;
    color: rgb(85, 85, 85);
    font-family: "Georgia";
}

.image
{
    width: 130px;
    height: 88px;
    position: relative;
    margin: 0;
    padding-top: 50px;
}

.link
{
    text-decoration: underline;
}

.clear
{
    clear: both;
}